<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css" th:href="@{/main.css}">
    <style>
        .map-container {
            overflow: hidden;
            padding-bottom: 56.25%;
            position: relative;
            height: 0;
        }

        .map-container iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    </style>
    <title>Dave's List</title>
</head>
<body>

<!--NAV-->

<div th:fragment="navBar">
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col-11">
                <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" th:href="@{/}">Dave's List</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <span sec:authorize="isAuthenticated()">
                                <li class="nav-item active">
                                    <a class="nav-link" th:href="@{/admin/newlisting}">New Listing<span class="sr-only">(current)</span></a>
                                </li>
                            </span>
                        </ul>
                        <div sec:authorize="isAuthenticated()"><a th:href="@{/admin/home}">Welcome, <span class="text-center"
                                                                                 sec:authentication="name">
                        </span></a></div>
                        <div sec:authorize="!isAuthenticated()"><a th:href="@{/admin/home}"><span class="navbar-text">
      Employee Portal
    </span></a></div>
                    </div>
                </nav>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>

<header class="hero">
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://ak.picdn.net/shutterstock/videos/1039883120/preview/stock-footage-flying-backwards-above-manhattan-buildings-new-york-city-at-sunrise.webm"
                type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">dave's list</h1>
                <p class="lead mb-0">new york city listings</p>
            </div>
        </div>
    </div>
</header>


<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-4">
            <!--            <h2 class="text-center">Current Listings</h2>-->
            <div th:each="listing : ${listings}">
                <div class="card">
                    <h3 class="card-header text-center">[[${listing.title}]]</h3>
                    <div class="card-body">
                        [[${listing.address}]] <br>
                        [[${listing.state}]] <br>
                        $[[${listing.price}]]/month <br>
                        <!--                        [[${listing.rented}]] <br>-->
                        <a th:href="@{/listing/{id} (id=${listing.id})}">Listing Detail</a>
                        <div th:if="${listing.rented == false}">
                            <button type="button" class="btn btn-success" method="post"
                                    th:href="@{/admin/togglerented/{id} (id=${listing.id})}">Available
                            </button>
                        </div>
                        <div th:if="${listing.rented == true}">
                            <button type="button" class="btn btn-secondary" method="post"
                                    th:href="@{/admin/togglerented/{id} (id=${listing.id})}">Booked
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <!--Google map-->
            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0"
                        style="border:0" allowfullscreen></iframe>
            </div>

            <!--Google Maps-->
        </div>
        <div class="col"></div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>