<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css" th:href="@{/main.css}">

    <title>New Listing</title>
    <style>
        .bool {
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
<div th:replace="home::navBar"></div>


<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-4">
            <div class="card">
            <h1 class="text-center">New Listing</h1>
                <div class="card-body">
                    <form th:action="@{/admin/processlisting}" th:object="${listing}" method="post">
                        <input type="hidden" th:field="*{id}">

                        <input class="form-control" type="text" th:field="*{title}" placeholder="Title"><br>
                        <input class="form-control" type="text" th:field="*{address}" placeholder="Address"><br>
                        <input class="form-control" type="text" th:field="*{state}" placeholder="State"><br>
                        <input class="form-control" type="text" th:field="*{price}" placeholder="Price"><br>

                        <input class="form-control" type="text" th:field="*{description}" placeholder="Description"><br>
                        <input class="form-control" type="text" th:field="*{rules}" placeholder="rules"><br>


                        <div class="btn-group btn-group-toggle bool" data-toggle="buttons">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Cable</span>
                            </div>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option1" th:field="*{cable}" value="None" autocomplete="off" checked> None
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option2" th:field="*{cable}" value="Basic" autocomplete="off"> Basic
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option3" th:field="*{cable}" value="Premium" autocomplete="off"> Premium
                            </label>
                        </div>

                        <div class="btn-group btn-group-toggle bool" data-toggle="buttons">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2">Wifi</span>
                            </div>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option4" th:field="*{wifi}" value="true" autocomplete="off" checked> Yes
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option5" th:field="*{wifi}" value="false" autocomplete="off"> No
                            </label>
                        </div>

                        <div class="btn-group btn-group-toggle bool" data-toggle="buttons">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Bathroom</span>
                            </div>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option5" th:field="*{privateBathroom}" value="true" autocomplete="off" checked> Private
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option6" th:field="*{privateBathroom}" value="false" autocomplete="off"> Shared
                            </label>
                        </div><br>




                        <input class="btn btn-primary" type="submit" value="Post">
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>